.logos{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    background: #181818;
    padding: 20px 0;
    border-radius: 4px;
}

.logos:hover .logos-slide{
    animation-play-state: paused;
}

.logos::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0), #181818);
    content: "";
    z-index: 2;
}
.logos::after{
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0), #181818);
    content: "";
    z-index: 2;
}

.logos-slide{
    display: flex;
    animation: slide 35s infinite linear;
}

.content-tech img{
    height: 50px;
}

.content-tech{
    margin: 0px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content-tech span{
    color: white;
    font-size: 0.8rem;
    margin-top: 4px;
}

@keyframes slide{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}