<div class="row" style="padding-top: 96px; z-index: 2;">
    <div class="col-sm-12 col-md-6 d-flex flex-column ">
        <p class="title-text m-0">Guilherme Miranda</p>
        <div class="txt-animated mt-2">
            $ <span></span>
        </div>
        <p class="desc-text mt-5 mb-0">
            /*
            Desenvolvedor Fullstack com ênfase em front-end, especializado em Angular, React,
            NextJs, React Native, Node.js, NestJs e TypeScript. Proficiente também em PHP,
            CodeIgniter e Laravel. Comprometido em contribuir para projetos de alta qualidade
            e soluções inovadoras.
            */
        </p>
        <a href="/assets/guilherme.pdf" target="_blank" download="cv.pdf" class="btn button-cv mt-5 mb-2">CV</a>
    </div>
    <div class="col-sm-12 col-md-6 d-flex align-items-start justify-content-between gap-3 perfil">
        <div class="img">
            <img src="/assets/perfil.jpeg" class="mx-auto d-block" alt="Guilherme">
        </div>
        <app-social-media></app-social-media>
    </div>
</div>